extends layout.pug

block content

  article.portfolio-intro

 
    h1 Gabryel's Portfolio  

 
    p Hello! This portforlio shows all of the projects i have created. Feel free to look around and enjoy!


  article.portfolio-project-thumbs
    .projects-box.box.grid

 
      each project in projects
      

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src= project.images_urls[0])
            h5= project.project_name

